.related {
  width: 300px;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 8px;
  margin-right: 20px;
  height: max-content;
}

.relatedTitle {
  font-size: 1.5rem;
  color: #81644b;
  margin-bottom: 20px;
  text-align: right;
}

.relatedList {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.relatedArticle {
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
}

.relatedArticle:last-child {
  border-bottom: none;
}

.relatedImageContainer {
  width: 100%;
  height: 150px;
  overflow: hidden;
  border-radius: 8px;
  margin-bottom: 10px;
}

.relatedImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.relatedImage:hover {
  transform: scale(1.05);
}

.relatedArticleTitle {
  font-size: 1rem;
  color: #81644b;
  margin: 0;
  text-align: right;
}
