.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin: 40px 0;
}

.content {
    text-align: center;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
}

.icon {
    font-size: 80px;
    color: var(--main-color);
    margin-bottom: 20px;
}

.wifiIcon {
    font-size: 80px;
    color: var(--main-color);
}

.title {
    font-size: 1.8rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.message {
    font-size: 1rem;
    color: #777;
    margin-bottom: 20px;
}

.retryButton {
    padding: 12px 30px;
    background-color: var(--main-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.retryButton:hover {
    background-color: #6e5947bd;
}